body {
  margin: 0px;
  background-color: lightgray;
  font-family: sans-serif;
}

.dm {
  margin-top: 50px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
}

.dm:active {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.receipt-body {
  width: 400px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid lightgray;
  padding-bottom: 80px;
  background-color: white;
  padding: 20px;
}

img {
  width: 40px;
  border-radius: 60%;
}

.receipt {
  padding-top: 20px;
  font-weight: bolder;
}

.btn {
  margin-top: 300px;
  padding: 10px;
  border-radius: 50px;
  background-color: #04DB32;
  color: white;
  text-align: center;
  width: 280px;
  font-weight: bolder;
}


.d-btn{
  margin-top: 50px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: blue;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.d-btn:active {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}
  
/*PENDING*/


