body {
  margin: 0px;
  background-color: lightgray;
  font-family: sans-serif;
}

.dm {
  margin-top: 50px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
}

.dm:active {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.receipt-body {
  width: 400px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid lightgray;
  padding-bottom: 120px;
  background-color: white;
  padding: 20px;
}

.circle {
  padding: 20px;
  border-radius: 60px;
  background-color: #E803FF;
  color: white;
  font-weight: bolder;
  width: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.name {
  font-weight: bolder;
  font-size: 17px;
}

.pn {
  color: gray;
}

.amount {
  padding: 160px 0px 10px 0px;
  font-weight: bolder;
  font-size: 26px;
}

.today {
  color: gray;
}

.complete {
  width: 180px;
  background-color: #14E31E;
  color: white;
  font-weight: bolder;
  border-radius: 50px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.d-btn{
  margin-top: 50px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: blue;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.d-btn:active {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}
  
  
  
  /*PENDING*/
  

.name2 {
  font-weight: bolder;
  font-size: 17px;
  color: lightgray;
}

.pn2 {
  color: lightgray;
}

.amount2 {
  padding: 160px 0px 10px 0px;
  font-weight: bolder;
  color: lightgray;
  font-size: 26px;
}

.today2 {
  color: lightgray;
}


.pending {
  width: 180px;
  background-color: white;
  color: #14E31E;
  border: 1px solid #14E31E;
  font-weight: bolder;
  border-radius: 50px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}



.failed {
  width: 180px;
  background-color: white;
  color: red;
  border: 1px solid red;
  font-weight: bolder;
  border-radius: 50px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.amount3 {
  color:lightgray;
  padding: 160px 0px 10px 0px;
  font-weight: bolder;
  color: lightgray;
  font-size: 26px;
}
