body {
  margin: 0px;
}

.cg {
  padding-top: 30px;
  font-weight: bold;
}

.choose-top {
  padding-top: 130px;
  font-weight: bolder;
}

.logo-payme {
  width: 100px;
}


.top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex: 1 1;
  justify-content: space-around;
  padding: 10px 3px;
  background-color: white;
  z-index: 5;
}

.container {
  display: flex;
  justify-content: center;
  flex: 1 1;
  margin-top: 40px;
  column-gap: 30px;
  row-gap: 30px;
  
}

@media (max-width: 360px) {
  .container {
    display: flex;
    flex: 1;
  }
}

.cover {
  width: 160px;
  background-color: white;
  padding: 14px;
  border: 2px solid lightgray;
  border-radius: 10px;
}

img {
  width: 140px;
  margin-bottom: 30px;
}

.gtb2 {
  width: 140px;
  margin-bottom: 30px;
  margin-top: 60px;
}

a {
  padding: 10px;
  background-color: blue;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  margin-top: 30px;
}