body {
  margin: 0px;
  background-color: lightgray;
  font-family: sans-serif;
}

.receipt-body {
  width: 450px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid lightgray;
  padding-bottom: 80px;
  background-color: white;
  padding: 20px;
}

.top {
  display: flex;
  flex: 1 1;
  column-gap: 200px;
}

.gtb-img {
  width: 60px;
}

.receipt {
  margin-top: 10px;
  font-weight: bolder;
  font-size: 19px;
}

.date {
  font-size: 10px;
  margin-top: 5px;
}

.amount-co {
  font-size: 12px;
  font-weight: bolder;
  margin-top: 30px;
}

.amount {
  font-size: 19px;
  font-weight: bolder;
}

.words {
  font-size: 12px;
  margin: 15px 0px;
}

.complete {
  font-weight: bolder;
}

.co {
  margin-top: 30px;
}

.label {
  font-size: 14px;
  padding: 10px 0px;
}

.info {
  font-size: 14px;
  font-weight: bolder;
}

.nss {
  font-weight: bolder;
  font-size: 10px;
  margin-top: 20px;
}

.bottom-grid {
  display: grid;
  grid-template-columns: 200px 200px;
  column-gap: 60px;
  font-weight: bolder;
  font-size: 20px;
}

.end {
  margin-top: 20px;
  font-size: 6px;
  font-weight: bolder;
}

.button {
  margin-top: 50px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: blue;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.button:active {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}
  

