body {
  margin: 0px;
  background-color: lightgray;
  font-family: sans-serif;
}

.receipt-body {
  width: 480px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid lightgray;
  padding-bottom: 80px;
  background-color: #F0F0F0;
  position: relative;
}

.top {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  font-weight: bolder;
  font-size: 16px;
  padding: 15px;
}

.container {
  padding: 20px;
  background-image: url("images/palmpay-back.png");
  background-size: cover;
  margin-top: 80px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

img {
  width: 100px;
  margin-left: 20px;
}

.amount-cover {
  color: #7509C7;
  font-weight: bolder;
  font-size: 24px;
  margin-top: 10px;
}

.amount {
  margin-right: -6px;
}

.st {
  font-size: 11px;
}

.date {
  font-size: 11px;
  padding: 5px;
  color: gray;
}

.line {
  color: lightgray;
}

.grid {
  display: grid;
  grid-template-columns: 170px 1fr;
}

.left {
  font-weight: bold;
}

.right {
  color: gray;
  text-align: right;
  font-size: 13px;
}

.name {
  font-weight: bolder;
  font-size: 16px;
  color: black;
  padding: 10px 0px 20px 0px;
}

.left2 {
  font-weight: bold;
  padding: 10px 0px;
}

.gleft {
  font-weight: bolder;
  color: gray;
  font-size: 12px;
}

.grid-end {
  display: grid;
  grid-template-columns: 140px 1fr;
}

.end {
  font-size: 12px;
  color: gray;
  margin-top: 30px;
}

.button {
  margin-top: 50px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: blue;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.button:active {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}
  

